:root {
  --primary-color: rgba(13, 110, 139, 0.25);
  --overlay-color: rgba(24, 39, 51, 0.85);
}

body {
    background-color: var(--primary-color);
}

form {
    background-color: var(--primary-color);
}

a {
  color: #0000ff;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  font-family:Arial, Helvetica, sans-serif;
}

th {
    font-size: 18px;
    padding: 10px;
    text-align: left;
    padding-left: 10px;
    width: 50%;
    
}

.listRows {
    text-align: left;
    border-bottom: 1px solid black;
    font-size: 20px;
    padding-left: 10px;
    width: 50%;
}

.tButton {
  background-color: rgba(13, 110, 139, 0.0);
  border: none;
  text-align: left;
  color: #0000ff;
  font-size: 20px;
  width: 100%;
}

.listLoc {
    text-align: left;
    border-bottom: 1px solid black;
    font-size: 20px;
    width: 100%;
}

.a1 {
    text-align: left;
    border-bottom: 1px solid black;
    font-size: 20px;
    width: 10px;
}

.a2 {
  text-align: left;
  border-bottom: 1px solid black;
  font-size: 20px;
  width: 85%;
}

.a3 {
  text-align: left;
  border-bottom: 1px solid black;
  font-size: 20px;
  width: 15px;}

.a4 {
  text-align: left;
  border-bottom: 1px solid black;
  font-size: 20px;
  width: 10%;}

.a5 {
  text-align: left;
  border-bottom: 1px solid black;
  font-size: 20px;
  width: 20%;}

.flex-container {
    display:inline;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--primary-color);
    width: 99%;
  }
  
.flex-container > div {
  background-color: var(--primary-color);
  width: 100%;
  margin: 1px;
  text-align: left;
  font-size: 14px;
  padding-left: 10px;
  border-bottom: 1px solid #000000;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
}

.centered > tbody > td{
  padding-right: 30px;
}

#req1, #req2, #req3, #req4 {
  display: none;
  color: #ff0000;
  font-size: 12px;
}

#item, #location, #numb {

    margin-left: 15px;
    padding-left: 5px;
    width: 40%;
    height: 22px;
    border-color:  var(--primary-color);
    font-size: 16px;
}

#building{
  margin-left: 15px;
  margin-top: 3px;
  padding-left: 5px;
  width: 75%;
  height: 22px;
  border-color:  var(--primary-color);
  font-size: 16px;
}

#bay {
  margin-left: 15px;
  padding-left: 6px;
  width: 41%;
  height: 24px;
  border-color:  var(--primary-color);
  font-size: 16px;
}

#edit{
    display: inline;
}

nav {
    margin-bottom: 10px;
}

#addForm {
    display: none;
}

#addBtn {
    background-color: rgba(13, 110, 139, 0.0);
    outline: none;
    border: none;
    font-weight: bold;
    font-size: 18px;
    color:#0000ff;
    margin-left: 225px;
}

#addItem {
  font-weight: bold;
  background-color: rgb(65, 199, 24);
  color: #ffffff;
  cursor: pointer;
  padding: 5px 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  margin-top: 5px;
}

.dropdowns {
font-size: 18px;
font-weight: bold;
}

.dropdown {
  font-size: 18px;
  }

#removeItem {
  height: 18px;
  font-weight: bold;
  font-size: 18px;
  background-color: rgba(13, 110, 139, 0.0);
  color: #ff0000;
  border: 0px;
}
.rmvBtn {
    visibility: hidden;
}

.leftColumn {
    font-size: 20px;
    border-bottom: 1px solid black;
    padding-left: 10px;
    width: 50%;
}

#space {
    height: 25px;
}

#taskQty {
    width: 100px;
}

#showAll {
    width: 50px;
}

#showActive {
    width: 75px;   
}

#showComplete {
    width: 75px;  
}

#filters {
    font-size: 18px;
    font-weight: bold;
    margin-left: 15px;
    text-align: center;    
}

.fltrButton {
  padding-left: 3px;
  background-color: #ffffff;
  border: #000000;
  border-radius: 100%;
  font-weight: normal;
  font-size: 12px;
  color: #000000;
  outline:none;
}

h1 {
    text-align: center;
    color: rgb(0, 128, 0);
    text-decoration: underline;
}

h2 {
  text-align: center;
}

.listTitle {
  text-align: center;
}

.titleFormat {
  text-align: center;
}

#taskQty {
    background-color: var(--primary-color);
    color: orange;
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .container2 {
    text-decoration: line-through;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .container2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    border-radius: 100%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #cccccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #000000;
  }

  .container2 input:checked ~ .checkmark {
    background-color: var(--primary-color);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  .container2 input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .container2 .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .collapsible, .notCollapsible {
    background-color: #777;
    color: #ffffff;
    cursor: pointer;
    padding: 5px 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  #toolFltr {
    background-color: var(--primary-color);
    color: #000000;
  }
  
  .active, .collapsible:hover {
    background-color: var(--primary-color);
  }
  
  .content {
    padding: 0 5px;
    display: none;
    overflow: hidden;
    background-color: #ffffff;
  }

  #navigation {
    font-weight: bold;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
  }

  #hmbtn {
    text-align: left;
  }

  #edtbtn {
    text-align: right;
    border: none;
  }

form {margin-top: 8px;}